@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;700&family=Roboto:ital,wght@0,400;0,500;0,700;1,900&display=swap');
body{
    margin: 0;
    overflow-x: hidden;
}
p{
    margin: 0;
}
a{
    text-decoration-line: none;
}
#header{
    height: 10vh;
    color: rgb(206, 206, 206);
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 3%;
    font-family: 'Bebas Neue';
    font-size: 40px;
}
#landing{
    background-image: url(vanilla-bear-films-RGOPJdh5Kt8-unsplash.jpg);
    background-size: contain;
    
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: whitesmoke;
    font-family: 'Poppins';
}
.intro{
    margin: 1px;
    
}
#name{
    font-weight: 400;
    font-size: 50px;
}
#filmMaker,#filmDirector{
    font-weight: 300;
    text-decoration: underline;
    text-underline-offset: 2;
}
.introImage{
    width: 150px;
    height: 150px;
    border-radius: 75px;
    object-fit: cover;
    object-position: top;
}
#filterScreen{
    background-color: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}
#aboutAndProjects{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(3, 3, 3);
    
}
#about{
    padding-top: 24px;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-left: 1%;
}
#projects{
    padding-top: 24px;
    width: 50%;
    height: 100vh;
    padding-left: 2%;
    display: flex;
    flex-direction: column;
}
#aboutTitle{
    height: 10vh;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: rgb(206, 206, 206);
    padding-left: 3%;
    font-family: 'Bebas Neue';
    font-size: 40px;
}
#aboutpfp{
    border-bottom: solid whitesmoke 1px;
    padding-bottom: 4%;
    width: 95%;
    display: flex;
    color: whitesmoke;
    padding-top: 4%;
}
#aboutImage{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: start;
}
#imageOne{
    border: solid whitesmoke;
    width: 50%;
    height: 75%;
    border-radius: 50%;

}
#hashtags{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    font-family: 'Poppins';
}
#aboutContents{
    width: 90%;
    padding: 4%;
    display: flex;
    justify-content: center;
    color: whitesmoke;
    font-family: 'Poppins';
}

#verticalLine{
    width: 1px;
    height: 80vh;
    background-color: whitesmoke;
}

#projectsTitle{
    height: 10vh;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: rgb(206, 206, 206);
    padding-left: 3%;
    font-family: 'Bebas Neue';
    font-size: 40px;
}
.projectBox{
    width: 90%;
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
}
.movieTitle{
    text-decoration: underline;
    font-family: 'Bebas Neue';
    font-weight: 500;
}
.link{
    margin-top: 8px;
    font-style: italic;
    color:  rgb(150, 150, 150);
}
@media screen and (max-width: 1000px){
    #landing{
        background-size: cover;
        background-position: center;
    }
    #header{
        padding-left: 56px;
    }
    #aboutAndProjects{
        flex-direction: column;
        height: auto;
    }
    #about{
        width: 100%;
        height: auto;
    }
    #projects{
        width: 100%;
        height: auto;
        width: 90%;
    }
    #aboutpfp{
        padding-left: 16px;
        padding-right: 16px;
        justify-content: space-between;
        align-items: start;
    }
    #verticalLine{
        display: none;
    }
    #aboutImagePfp{
        width: 100px;
        height: 100px;
    }
    #hashtags{
        margin-left: 8px;
    }
}